.hyperspeed-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.hyperspeed-container canvas {
    width: 100% !important;
    height: 100% !important;
}

#lights {
    width: 100%;
    height: 100%;
}